<!DOCTYPE html>
<!-- 
    Free Responsive Template by templatemo
    http://www.templatemo.com
-->
{% load static %}
<html lang="en">

<head>
    <title>Welcome to Environmental Informatics Website</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-scale, initial-scale=1.0">
    <!--<link rel="shortcut icon" href="PUT YOUR FAVICON HERE">-->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href='{% static "assets/css/bootstrap.css" %}' />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href='{% static "assets/js/colorbox/colorbox.css" %}' />
    <link rel="stylesheet" type="text/css" href='{% static "assets/css/templatemo_style.css" %}' />


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>


</head>

<body>
    <div class="templatemo-top-bar" id="templatemo-top">
        <div class="container">
            <div class="subheader">
                <div id="phone" class="pull-left">
                    <img src='{% static "assets/images/phone.png" %}' />+84-8-38651132 (ext.:31)
                </div>
                <div id="email" class="pull-right">
                    <img src='{% static "assets/images/email.png" %}' alt="email" />mth2610@gmail.com; trangthuyvo.hcmus@gmail.com
                </div>
            </div>
        </div>
    </div>
    <div class="templatemo-top-menu">
        <div class="container">
            <!-- Static navbar -->
            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                        <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;">
                            <li class="active"><a href="/gis/basemap">MAPS</a>
                            </li>
                            <li><a href=documents/showpaper>DOCUMENTS</a>
                            </li>
                            <li><a href="database">DATABASE</a>
                            </li>
                            <li><a href=contact>CONTACT</a>
                            </li>

                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
                <!--/.container-fluid -->
            </div>
            <!--/.navbar -->
        </div>
        <!-- /container -->
    </div>
    <div>
        <!-- Carousel -->
        <div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="carousel-caption">
                                <h1>WELCOME TO ENVIRONMENTAL INFORMATICS WEBSITE</h1>
                            </div>
                        </div>
                    </div>
                </div>
    <!-- /#templatemo-carousel -->

    <!-- /#templatemo-carousel -->
    </div>

    <div class="templatemo-footer">
        <div class="footer_bottom_content">Copyright © 2014 <a href="#">Institute for Environment and Resources, Vietnam National University of Ho Chi Minh city. (IER) </a> 
            <!-- Credit: www.templatemo.com -->
        </div>

    </div>
</body>

</html>
